<div class="footer">
  <div class="copy">
    <div class="mainWrap">
      <div class="contact">
        <img src="../src/images/3.1.png">
        <div class="txtwrapper">
          <i class="fa fa-phone"></i> 0571-28867110　<span><i class="fa fa-envelope-o"></i> www.hznu.edu.cn</span><br>
          <i class="icon-location"></i> 杭州市余杭区余杭塘路2318号杭州师范大学
        </div>
      </div>
    </div>
    <div class="copyrights">
      版权所有 © 计算机171 2017212212024 &nbsp;&nbsp;&nbsp;&nbsp;
      浙ICP备<a href="#" target="_blank"style="color:#fff;">222222</a>号&nbsp;&nbsp;&nbsp; 
      杭公网安备 <a href="#" target="_blank"style="color:#fff;">111111111111</a>号&nbsp;&nbsp;&nbsp;
      <i class="fa fa-bar-chart"></i> 333333333&nbsp;&nbsp;&nbsp;
      
      
      违法和不良信息举报请联系：<a href="mailto:1774024471@qq.com"  style="color:#fff;">2017212212024@hznu.edu.cn</a>

    </div>
  </div>
</div>