<div id="carouselExampleSlidesOnly" class="col-sm-8 carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/src/images/hznu.jpg" style="height: 390px;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/src/images/hznu.jpg" style="height: 390px;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/src/images/hznu.jpg" style="height: 390px;" class="d-block w-100" alt="...">
    </div>
  </div>
</div>