<div class="jumbotron jumbotron-fluid" style="box-sizing: border-box; padding: 0; height: 250px">
    <img class="img-fluid" src="/src/images/title.png" style="width: 100%;height: 100%" alt="HZNU">
</div>