<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fa fa-university" aria-hidden="true"></i>HZNU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">首页 <span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown border-left border-right">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-address-card-o" aria-hidden="true"></i>学校概况
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">学校历史</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">校训校歌</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">大学精神</a>
        </div>
      </li>
      <li class="nav-item dropdown border-right">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-building" aria-hidden="true"></i>机构设置
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">机关部门</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">群团组织</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">附属单位</a>
        </div>
      </li>
      <li class="nav-item dropdown border-right">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle" aria-hidden="true"></i>师资队伍
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">名师访谈</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">师资力量</a>
        </div>
      </li>
      <li class="nav-item dropdown border-right">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>人才培养
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">本科生培养</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">研究生教育</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">留学生教育</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">继续教育</a>
        </div>
      </li>
      <li class="nav-item dropdown border-right">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-gavel" aria-hidden="true"></i>学科建设
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">学院设置</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">特色专业</a>
        </div>
      </li>
    
      <li class="nav-item dropdown border-right">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog" aria-hidden="true"></i>了解更多
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">网上办事大厅</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">图书馆</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">信息公开</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Email</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">VPN</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">新媒体联盟</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="rounded-pill form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="rounded-circle btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
  </div>
</nav>