<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fa fa-university" aria-hidden="true"></i>健康干预</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" id="home">首页 <span class="sr-only"></span></a>
      </li>
      <li class="nav-item  border-left border-right">
        <a class="nav-link " href="#" id="introduce" role="button" data-toggle="dropdown" aria-haspopup="true" >
          <i class="fa fa-address-card-o" aria-hidden="true"></i>高血压介绍
        </a>
      </li>
      <li class="nav-item  border-right">
        <a class="nav-link " href="#" id="typeAnalyse" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-building" aria-hidden="true"></i>中医证型分析
        </a>
      </li>
      <li class="nav-item  border-right">
        <a class="nav-link " href="#" id="reportAnalyse" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle" aria-hidden="true"></i>体检报告分析
        </a>
      </li>
      <li class="nav-item  border-right">
        <a class="nav-link " href="#" id="intervention" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>干预方法介绍
        </a>
      </li>


    </ul>
    
  </div>
</nav>