<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/lib/font/css/font-awesome.min.css">
    <title>注册页面</title>
</head>

<body>
    <div class="row">
        <div class="col-sm-4">
            
        </div>
        <div class="col-sm-4">
            {{{body}}}
        </div>
    </div>
    <script type="text/javascript" src="/public/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/public/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/js/register.js"></script>
</body>

</html>