
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HZNU</title>
<link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.min.css">
<link href="/public/css/gate.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/public/lib/font/css/font-awesome.min.css">
</head>
<body>
<div class="marketing">
    <div class="marketing-title">欢迎来到杭州师范大学</div>
        <p class="marketing-text">"杭州师范大学是世界上最好的大学"——马云</p>
        <div class="mark-main">
            <div class="click_con" style="margin-left: -180px; width: 8700px;">
                <div class="system_list" style="width: 360px;">
                    <div class="system_list_tit">
                        <span>
                        <em></em>
                        <strong>校园面积</strong>
                        </span>
                        <p>198.9万平方米</p>
                    </div>
                    <div class="system_list_con">
                        <div class="mark-main-list">
                            <p>
                            <em>仓前校区</em>
                            <strong>杭州未来科技城</strong>
                            </p>
                        </div>
                        <div class="mark-main-list">
                            <p>
                            <em>玉皇山校区</em>
                            <strong>西湖之滨</strong>
                            </p>
                        </div>
                        <div class="mark-main-list">
                            <p>
                            <em>下沙校区</em>
                            <strong>钱塘江畔</strong>
                            </p>
                        </div>
                    </div>
                    <div class="layer-mask"></div>
                </div>
                <div class="system_list" style="width: 360px;">
                    <div class="system_list_tit">
                        <span>
                            <em style="background:#2fb3ff;"></em>
                            <strong>办学规格</strong>
                        </span>
                        <p>19个学院、1个公共教学单位、1个直属附属医院</p>
                    </div>
                    <div class="system_list_con">
                        <div class="mark-main-list">
                            <p>
                                <em>全日制在校生</em>
                                <strong>20280人</strong>
                            </p>
                        </div>
                        <div class="mark-main-list">
                            <p>
                                <em>硕士生</em>
                                <strong>2724人</strong>
                            </p>
                        </div>
                        <div class="mark-main-list">
                            <p>
                                <em>博士生</em>
                                <strong>40人</strong>
                            </p>
                        </div>
                    </div>
                    <div class="layer-mask"></div>
                </div>
                <div class="system_list new_cur" style="width: 360px;">
                    <div class="system_list_tit">
                        <span>
                            <em></em>
                            <strong>师资力量 </strong>
                        </span>
                        <p>现有教职工2271人，专任教师1558人</p>
                    </div>
                    <div class="system_list_con">
                        <div class="mark-main-list">
                            <p>
                            <em>共享院士、教育部长江学者</em>
                            <strong>80人</strong>
                            </p>
                        </div>
                        <div class="mark-main-list">
                            <p>
                                <em>享受国务院津贴者</em>
                                <strong>21人</strong>
                            </p>
                        </div>
                        <div class="mark-main-list">
                            <p>
                                <em>全国优秀教师</em>
                                <strong>3人</strong>
                            </p>
                        </div>
                    </div>
                    <div class="layer-mask"></div>
                </div>
                <div class="system_list" style="width: 360px;">
                    <div class="system_list_tit">
                        <span>
                        <em style="background:#cc53ff"></em>
                        <strong>开设专业</strong>
                        </span>
                        <p>本科专业74个，覆盖11个学科门类</p>
                    </div>
                    <div class="system_list_con">
                        <div class="mark-main-list">
                            <p>
                                <em>中国家级特色专业</em>
                                <strong>5个</strong>
                            </p>
                        </div>
                        <div class="mark-main-list">
                            <p>
                                <em>教育部专业综合改革试点</em>
                                <strong>1个</strong>
                            </p>
                        </div>
                        <div class="mark-main-list">
                            <p>
                                <em>省级“十二五”“十三五”优势专业和特色专业</em>
                                <strong>34个</strong>
                            </p>
                        </div>
                    </div>
                    <div class="layer-mask"></div>
                </div>
                <div class="system_list" style="width: 360px;">
                    <div class="system_list_tit">
                        <span>
                            <em style=" background:#ff6666;"></em>
                            <strong>校内实验室</strong>
                        </span>
                        <p>进行学术科学研究，人才培养</p>
                    </div>
                    <div class="system_list_con">
                        <div class="mark-main-list">
                            <p>
                                <em>国际合作科研平台</em>
                                <strong>12个</strong>
                            </p>
                        </div>
                    <div class="mark-main-list">
                        <p>
                        <em>教育部重点实验室、工程研究</em>
                         <strong>2个</strong>
                        </p>
                    </div>
                    <div class="mark-main-list">
                        <p>
                            <em>省重点实验室、工程实验室、研究基地</em>
                            <strong>17个</strong>
                        </p>
                    </div>
                </div>
                <div class="layer-mask"></div>
            </div>
            <div class="system_list" style="width: 360px;">
                <div class="system_list_tit">
                    <span>
                        <em style=" background:#d74aff;"></em>
                        <strong>师大校训、精神</strong>
                    </span>
                    <p>勤慎诚恕 博雅精进</p>
                </div>
                <div class="system_list_con">
                    <div class="mark-main-list">
                        <p>
                            <em>包容开放</em>
                            <strong>心怀理想、活泼乐观、团结互助、奋发有为</strong>
                        </p>
                    </div>
                    <div class="mark-main-list">
                        <p>
                            <em>学与俱进</em>
                            <strong>与时俱进、教学相长、知行合一、奉献社会</strong>
                        </p>
                    </div>
                    <div class="mark-main-list">
                        <p>
                            <em>追求卓越</em>
                            <strong>志存高远、坚韧不拔、永不放弃</strong>
                        </p>
                    </div>
                </div>
                <div class="layer-mask"></div>
            </div>
        </div>
    </div>
</div>

<button id="jumpBtn" style="display: block; margin:0 auto" type="button" class="btn btn-outline-light"><i class="fa fa-bicycle fa-lg" aria-hidden="true"></i>Here We Go<i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></button>

<script type="text/javascript" src="/public/lib/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/public/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/gate.js"></script>
</body>
</html>