<div id="test-editormd">
    <textarea style="display:none;" class="form-control" id="content-editormd-markdown-doc"
        name="content-editormd-markdown-doc"></textarea>
</div>
<div class="card-body" style="text-align: center;">
    <button id="saveEditBtn" class="col-sm-10 btn-outline-success" style="margin-bottom: 15px;">完成编辑</button>
    <button id="cancelEditBtn" class="col-sm-10 btn-outline-secondary">取消编辑</button>
</div>