<div class="card">
    <div class="card-header text-center">
        {{data.title}}
    </div>
    <div id="newsBody" class="card-body">
        {{{data.content}}}
    </div>
    <div class="card-footer">
        {{data.date}}
    </div>
</div>