<div class="card">
  <div class="card-header">
    欢迎注册高血压干预平台
  </div>
  <div class="card-body">
        <form id="fm">
            <div class="form-group">
              <label for="tele">手机号：</label>
              <input type="tel" class="form-control" id="tele" name="tele" >
              <small id="teleMsg" class="form-text">&nbsp;</small>
            </div>
            <div class="form-group">
              <label for="code">验证码：</label>
              <div class="form-inline">
                  <input type="text" name="code" class="col-sm-8 form-control" id="code">
                  <button id="sendBtn" type="button" class="col-sm-3 btn btn-outline-secondary" style="margin-left: 20px;">获取验证码</button>
              </div>
              <small id="codeMsg" class="form-text">&nbsp;</small>
            </div>
            <div class="form-group">
              <label for="username">用户名：</label>
              <input type="text" class="form-control" name="username" id="username">
              <small id="usernameMsg" class="form-text">&nbsp;</small>
            </div>
            <div class="form-group">
                <label for="password">密码：</label>
                <input type="password" class="form-control" name="password" id="password">
                <small id="passwordMsg" class="form-text">&nbsp;</small>
            </div>
            
            <button id="signupBtn" type="button" class="col-sm-12 btn btn-outline-success">注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册</button>
        </form>
  </div>
  <div class="card-footer text-muted">
    Since 3/28/2021 develop
  </div>
</div>