.dataHZNU>h2 {
    margin-top: 100px;
    margin-bottom: 40px;
    font-family: "Microsoft JhengHei", "明黑", Arial, Helvetica;
    font-size: 36px;
    color: #6416a6;
    text-align: center;
    line-height: 1em;
    margin-bottom: 40px;
}

a:hover {
    text-decoration: none;
}

.hotbar>a:hover {
    text-decoration: none;
    color: #FFF;
    border: 2px solid #FFF;
    box-shadow: 0 0 10px #FFF;
}

b {
    height: 1px;
    width: 60px;
    background: #6416a6;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.5;
    margin: 0 20px;
}

.wrapper {
    margin: 0 20px;
    display: flex;
}

.wrapper>img {
    width: 90px;
    height: 90px;
    margin-right: 20px;
}

.wrapper-text h4 {
    font-size: 36px;
    color: #6416a6;
    line-height: 1em;
    font-family: "Microsoft JhengHei", "明黑", Arial, Helvetica;
}

li {
    list-style: none;
    margin-top: 15px;
}

.clearfix {
    float: left;
    margin-left: -60px;
}

.clearfix>li {
    float: left;
    width: 33.3333%;
}

.clearfix>li>a {
    display: block;
    color: #FFF;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 20px;
    margin-left: 50px;
}

.time {
    font-family: 'EB Garamond', serif;
    width: 80px;
    text-align: center;
    float: left;
}

.time>span {
    display: block;
    font-size: 36px;
    line-height: 1em;
}

.wrapper-text>h3 {
    font-size: 16px;
    line-height: 1.5em;
}

.wrapper-text>p {
    opacity: 0.7;
    padding-top: 10px;
}

.hot>.wrapper-text {
    margin-left: 100px;
}

.hotmore{
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    border: 1px solid #FFF;
    padding: 0 20px;
    display: block;
    margin: 260px auto 0px auto;
    width: 150px;
    color: #FFF;
    text-align: center;
    opacity: 0.5;
}

.hotbar {
    margin-top: -80px;
    width: 1450px;
    margin: auto;
}

.copy {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 0 30px 0;
}

.cbg {
    background: url(../../src/images/tbg.jpg);
    position: absolute;
    z-index: -1;
    transform: rotate(-4deg) skew(-4deg) translateY(-40px);
    transform-origin: center top;
    height: 425px;
    width: 100%;
    right: 0px;
}

.hotHZNU>h2 {
    font-family: "Microsoft JhengHei", "明黑", Arial, Helvetica;
    font-size: 36px;
    color: #fff;
    text-align: center;
    line-height: 1em;
    margin-top: 100px;
    margin-bottom: 40px;
}

.hotHZNU>b {
    height: 1px;
    width: 60px;
    background: #6416a6;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.5;
    margin: 0 20px;
}

.footer {
    margin-top: 110px;
    padding-top: 410px;
    position: relative;
    z-index: -2;
    height: 750px;
    transform: translateY(-190px);
    background: url(../../src/images/footbg.jpg) no-repeat bottom center;
    background-size: cover;
}

.footer .copy .en {
    float: right;
    margin-right: 60px;
    font-size: 14px;
}

.footer .copy .en a {
    display: block;
    color: #fff;
    padding: 8px 30px 8px 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.1);
}

.footer .copy .contact {
    padding-bottom: 40px;
}

.footer .copy .contact img {
    margin-left: 50px;
    width: 168px;
}

.footer .copy .contact .txtwrapper {
    display: inline-block;
    color: #fff;
    opacity: 0.7;
    font-size: 13px;
    line-height: 1.75em;
    padding-left: 40px;
}

.footer .copy .copyrights {
    color: #fff;
    opacity: 0.6;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding-top: 20px;
    padding-left: 50px;
}